main {
  background: rgba(20, 20, 20, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  .card {
    background: whitesmoke;
    width: 30%;

    gap: 2%;
    text-align: center;
    margin: 5px;

    img {
      object-fit: contain;
      width: 40%;
      height: 180px;
    }
  }
}
