body {
  background: #000;
}
/* h1 {
  color: whitesmoke;
}
p {
  color: whitesmoke;
} */
button {
  width: 200px;
  height: 50px;
}
.toggle {
  display: none;
}
.toggleContinent {
  visibility: visible;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
